In [2]:
from rdkit import Chem
import useful_rdkit_utils as uru

In [3]:
mol = Chem.MolFromSmiles("c1ccccc1")

In [5]:
rdkit_desc = uru.RDKitDescriptors()

In [7]:
rdkit_desc.pandas_mols([mol])

  0%|          | 0/1 [00:00<?, ?it/s]

,AvgIpc,BCUT2D_CHGHI,BCUT2D_CHGLO,BCUT2D_LOGPHI,BCUT2D_LOGPLOW,BCUT2D_MRHI,BCUT2D_MRLOW,BCUT2D_MWHI,BCUT2D_MWLOW,BalabanJ,...,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea,qed
0,1.719973,1.573725,-1.694262,1.794093,-1.473893,4.985993,1.718007,13.646993,10.379007,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.442628