In [4]:
import pandas as pd
import useful_rdkit_utils as uru

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/PatWalters/datafiles/main/chembl_drugs.smi",sep=" ",names=["SMILES","Name"])

In [3]:
df

                                                 SMILES           Name
0                         Nc1ccc(S(=O)(=O)Nc2ccccn2)cc1      CHEMBL700
1                 CCC(C)C1(CC)C(=O)[N-]C(=O)NC1=O.[Na+]  CHEMBL1200982
2                                            Cl.N=C(N)N  CHEMBL1200728
3                                CC1=CC(=O)c2ccccc2C1=O      CHEMBL590
4     Cn1c(=O)c2[nH]cnc2n(C)c1=O.Cn1c(=O)c2[nH]cnc2n...  CHEMBL1370561
...                                                 ...            ...
1198  Cl.Cl.N#Cc1cccc(C(NCC2CC2)c2ccc(F)c(NC(=O)c3cc...  CHEMBL4594272
1199  CN1CCC(COc2cnc(-c3cccc(Cn4nc(-c5cccc(C#N)c5)cc...  CHEMBL4594292
1200   Nc1ncn([C@@H]2O[C@H](CO)[C@@H](O)[C@H]2O)c(=O)n1     CHEMBL1489
1201  COC(=O)Nc1c(N)nc(-c2nn(Cc3ccccc3F)c3ncc(F)cc23...  CHEMBL4066936
1202  CONC(=O)Nc1ccc(-c2sc3c(c2CN(C)C)c(=O)n(-c2ccc(...  CHEMBL1800159

[1203 rows x 2 columns]

In [23]:
len(pd.Series(uru.get_butina_clusters(df.SMILES,cutoff=0.35)).unique())

975